<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="style.css" rel="stylesheet">
    <title>Dofus API</title>
</head>
<body>


<main>
    <div class="container2">
        <div class="containTittle">
            <span class="Tittle">Quel personnage de Dofus êtes vous ?</span>
        </div>

        <span class="Tittle-Question">Quel est votre élément préféré ?</span>

        <form class="TxtFile">
            <div id="ToCenter">
                <label class="container">
                    <input checked="checked" name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">
                    <input name="radio" type="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div id="ToCenter2">
                <span class="Question">gggg</span>
                <span class="Question">gggg</span>
                <span class="Question">gggg</span>
                <span class="Question">gggg</span>
            </div>
        </form>
    </div>
</main>

<footer>
    <span id="CopyRight">Copyright © Segfault 2021</span>
</footer>

</body>
</html>
