#item {
    height: 1px;
    width: 42px;
}

#blank {
    margin-top: 1280px;
    width: 100px;
    height: 100px;
}

#top {
    background-color: aquamarine;
    border: 1px solid cadetblue;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 550px;
    height: 120px;
    width: 950px;
}

#left {
    border: 1px solid cadetblue;
    background-color: RGB(243, 255, 250);
    position: absolute;
    height: 720px;
    width: 470px;
    margin-left: 550px;
}

#FirstBlockLeft {
    text-align: left;
    line-height: 25px;
    border: 1px solid cadetblue;
    background-color: RGB(198, 247, 224);
    width: 450px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#TextFirstBlockLeft {
    margin-left: 10px;
    text-align: left;
}

#SecondBlockLeft {
    text-align: left;
    line-height: 25px;
    border: 1px solid cadetblue;
    background-color: RGB(198, 247, 224);
    width: 450px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#TextSecondBlockLeft {
    text-align: left;
    margin-left: 5px;
}

#right {
    border: 1px solid cadetblue;
    position: absolute;
    background-color: RGB(245, 250, 255);
    height: 720px;
    width: 470px;
    margin-left: 1030px;
}

#FirstBlockRight {
    text-align: left;
    line-height: 25px;
    border: 1px solid cadetblue;
    background-color: RGB(205, 222, 243);
    width: 450px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#TextFirstBlockRight {
    text-align: left;
    margin-left: 5px;
}

#SecondBlockRight {
    text-align: left;
    line-height: 25px;
    border: 1px solid cadetblue;
    background-color: RGB(205, 222, 243);
    width: 450px;
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#TextSecondBlockRight {
    text-align: left;
    margin-left: 5px;
}

#bottomUP {
    background-color: RGB(255, 244, 250);
    border: 1px solid cadetblue;
    margin-top: 730px;
    margin-left: 550px;
    position: absolute;
    height: 225px;
    width: 950px;
}

#FirstBlockBottomUP {
    text-align: left;
    line-height: 25px;
    border: 1px solid cadetblue;
    background-color: RGB(248, 200, 221);
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#FirstTextBottomUP {
    margin-left: 10px;
    text-align: left;
}

#bottomDOWN {
    background-color: RGB(251, 243, 255);
    border: 1px solid cadetblue;
    margin-top: 975px;
    margin-left: 550px;
    position: absolute;
    height: 360px;
    width: 950px;
}

#FirstBlockBottomDOWN {
    text-align: left;
    line-height: 25px;
    border: 1px solid cadetblue;
    background-color: RGB(226, 199, 243);
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#FirstImage {
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

#TextImage {
    margin-left: 340px;
    height: 5px;
}

#KiwipediaText {
    text-align: center;
    line-height: 80px;
}
